:root {
  --yellow: #e1ad01;
  --orange: #ff7f00;
  --dark: #111;
  --grey: #444;
  --link: #474747;
  --hover: #2b2b2b;
  --light: #d8d8d8;
  --linkSize1: 28px;
  --linkSize2: 25px;
  --linkSize3: 22px;
}


